.movies-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px 24px;
  margin: 70px auto 0;
  width: 100%;
  max-width: 1140px;
}

.movies-list__more {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: #2F2F2F;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  border: none;
  margin: 58px auto 100px;
  cursor: pointer;
}

.movies-list__more:hover {
  opacity: .7;
}

@media (max-width: 768px) {
  .movies-list {
    gap: 30px;
  }

  .movies-list__more {
    margin: 80px auto 100px;
  }
}

@media (max-width: 425px) {
  .movies-list {
    gap: 14px;
  }
}